:root {
  --font-family: "TT Norms Pro", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --dark-color: #000000;
  --shamp-color: #D2B589;
  --gray-color: #E8E5E0;
  --matt-color: #ffffff64;
  --gradient: linear-gradient(244deg, #C78853 33.49%, #D5BDA1 49.48%, #D9D9D9 53.82%, #EFE5D6 56.56%, #D2B589 77.34%);
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/../fonts/TTNormsPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/../fonts/TTNormsPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/../fonts/TTNormsPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/../fonts/TTNormsPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.container-fluid {
  width: 100%;
}

.phone-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.phone-list__item:not(:last-child) {
  margin-right: 23px;
}
.phone-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: var(--shamp-color);
}
.phone-list__svg {
  margin-right: 25px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-list__item:not(:last-child) {
  margin-right: 24px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__container-fluid {
  background-color: var(--matt-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.header__container-fluid--top {
  background-color: var(--dark-color);
}
.header__container--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}
.header__logo {
  padding-top: 3px;
  background-position: 5px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-item:not(:last-child) {
  margin-right: 39px;
}
.header__nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-color);
}
.header__location {
  margin: 0;
  padding-left: 36px;
  width: 25%;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: var(--shamp-color);
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.btn {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  color: var(--dark-color);
  background-image: linear-gradient(244deg, #C78853 33.49%, #D5BDA1 49.48%, #D9D9D9 53.82%, #EFE5D6 56.56%, #D2B589 77.34%);
}

.hero {
  height: 100vh;
  background-image: url("../img/hero_2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 116px;
  height: 100%;
}
.hero__subtitle {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  color: #645539;
}

.stock {
  background-color: var(--gray-color);
}
.stock__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  padding-top: 90px;
  padding-bottom: 90px;
}
.stock__title {
  margin: 0;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: Kudryashev Headline;
  font-size: 80px;
  font-weight: 400;
  line-height: 77px;
  color: var(--dark-color);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2/10 span;
}
.stock__item:not(:last-child) {
  margin-right: 30px;
}
.stock-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: var(--shamp-color);
  border-radius: 0 0 10px 10px;
}
.stock-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}
.stock-card__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--dark-color);
  text-transform: uppercase;
}
.stock-card__price {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #b86f4c;
}
/*# sourceMappingURL=main.css.map */